{% extends "base.html" %}
{% block content %}

<div class="grid-container">
    <div class="grid-item" id="grid-content_image">
        {% if thumbnail %}
        <a href="https://skolfilm.se/film/{{content_id}}" target="_blank"><img src="{{ thumbnail }}" /></a>
        {% else %}
        <p></p>
        {% endif %}
    </div>
    <div class="grid-item" id="grid-content_metadata">
        {% if surtitle %}
        <p class="content_title">{{ surtitle }}: {{ title }}</p>
        <hr class="solid">
        {% else %}
        <p></p>
        {% endif %}
        <a href="https://skolfilm.se/film/{{content_id}}" target="_blank">Se resurs på Skolfilm</a>
        {% if content_id %}
        <p><strong>Content ID:</strong> {{ content_id }}</p>
        {% else %}
        <p></p>
        {% endif %}
        {% if subject %}
        <p><strong>Ämne:</strong> {{ subject }}</p>
        {% else %}
        <p></p>
        {% endif %}
        {% if audience %}
        <p><strong>Årskurs:</strong> {{ audience }}</p>
        {% else %}
        <p></p>
        {% endif %}
        {% if keywords %}
        <p><strong>Keywords:</strong> {{ keywords }}</p>
        {% else %}
        <p></p>
        {% endif %}
        {% if description %}
        <p><strong>Beskrivning:</strong> {{ description }}</p>
        {% else %}
        <p></p>
        {% endif %}
    </div>

    {% if result_model %}
    <div class="grid-item" id="grid-title_model">
        <h2>
            Rekommendationer för innehållet
        </h2>
    </div>
    {% else %}
    <h2>Data saknas</h2>
    {% endif %}

    {% if subject == 'Matematik' %}
    {% set limit = 0.6 %}
    {% else %}
    {% set limit = 0.7 %}
    {% endif %}

    <div class="grid-item" id="grid-list_model">
        {% if result_model %}
        <table>
            <tr>
                <th>Similarity</th>
                <th>Årskurs</th>
                <th>Ämne</th>
                <th>Del i centralt innehåll</th>
                <th>Centralt innehåll</th>
                <th>Bedömning</th>
            </tr>
            {% set vars = {'counter': -1} %}
            {% for key, value in result_model %}
            {% if not value.get('duplicate') == 'Yes' and value.get('value') >= limit and
            vars.counter > -16 %}<tr>
                {% if vars.update({'counter': vars.counter - 1}) %} {% endif %}
                <td class="td-value centered-td" valign=top>{{ value.get('value') }}:</td>
                <td class="td-audience centered-td" valign=top>{{ value.get('audience') }}</td>
                <td class="td-subject centered-td" valign=top>{{ value.get('subject') }}</td>
                <td class="td-subject centered-td" valign=top>{{ value.get('title') }}</td>
                <td class="td-CI" valign=top> {{ value.get('CI') }}</td>
                <td class="td-rating centered-td" valign="top">
                    <input class="{{key}} btn" id="green-{{key}}" type="button" value="Bra"
                        onclick='model_func(this.id, this.className, "{{value.value}}", "{{value.duplicate}}")'>
                    <input class="{{key}} btn" id="neutral-{{key}}" type="button" value="Neutral"
                        onclick='model_func(this.id, this.className, "{{value.value}}", "{{value.duplicate}}")'>
                    <input class="{{key}} btn" id="red-{{key}}" type="button" value="Dålig"
                        onclick='model_func(this.id, this.className, "{{value.value}}", "{{value.duplicate}}")'>
                    <input class="{{key}} btn uncertain-btn" id="uncertain-{{key}}" type="button" value="Kan ej bedöma"
                        onclick='model_func(this.id, this.className, "{{value.value}}", "{{value.duplicate}}")'>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        {% endif %}
    </div>

    {% if result_model %}
    <div class="grid-item" id="grid-title_model">
        <h2>
            Resterande centralt innehåll
        </h2>
    </div>
    {% else %}
    <h2>Data saknas</h2>
    {% endif %}

    <div class="grid-item" id="grid-list_model">
        {% if result_model %}
        <table>
            <thead class="thead">
                <tr>
                    <th class="sim">Similarity</th>
                    <th class="year">Årskurs</th>
                    <th class="sub">Ämne</th>
                    <th class="title">Del i centralt innehåll</th>
                    <th class="CI">Centralt innehåll</th>
                    <th class="rating">Bedömning</th>
                </tr>
            </thead>
            <tbody class="tbody">
                {% for key, value in result_model %}
                {% if not value.get('duplicate') == 'Yes' and value.get('value') < limit %} <tr>
                    <td class="sim centered-td" valign=top>{{ value.get('value') }}:</td>
                    <td class="year centered-td" valign=top>{{ value.get('audience') }}</td>
                    <td class="sub centered-td" valign=top>{{ value.get('subject') }}</td>
                    <td class="title centered-td" valign=top>{{ value.get('title') }}</td>
                    <td class="CI" valign=top> {{ value.get('CI') }}</td>
                    <td class="rating centered-td" valign="top">
                        <input class="{{key}} btn" id="green-{{key}}" type="button" value="Bra"
                            onclick='model_func(this.id, this.className, "{{value.value}}", "{{value.duplicate}}")'>
                        <input class="{{key}} btn" id="neutral-{{key}}" type="button" value="Neutral"
                            onclick='model_func(this.id, this.className, "{{value.value}}", "{{value.duplicate}}")'>
                        <input class="{{key}} btn" id="red-{{key}}" type="button" value="Dålig"
                            onclick='model_func(this.id, this.className, "{{value.value}}", "{{value.duplicate}}")'>
                        <input class="{{key}} btn uncertain-btn" id="uncertain-{{key}}" type="button"
                            value="Kan ej bedöma"
                            onclick='model_func(this.id, this.className, "{{value.value}}", "{{value.duplicate}}")'>
                    </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <div class="grid-item" id="grid-fill">
    </div>

    {% if content_id and result_model %}
    <div class="grid-item" id="grid-submit">
        <input class="button" type="button" value="Submit" id="submitButton"
            onclick="send_data('{{ keywords }}', '{{ content_id }}', '{{ user_id }}')">
    </div>
    {% endif %}


</div>

<script>

    let rating_dict = {};

    function model_func(id, class_name, value, duplicate) {
        var current_btn = document.getElementById(id);

        class_split = class_name.split(' ')
        only_id = class_split[0]
        color = class_split[2]

        if (duplicate !== 'False') {
            rating_dict[duplicate] = { 'value': value };
        }

        rating_dict[only_id] = { 'value': value };

        if ((color == 'green') && id.includes('green')) {
            current_btn.classList.remove('green');
            rating_dict[only_id]['rating'] = null;
            if (duplicate !== 'False') {
                rating_dict[duplicate]['rating'] = null;
            }

        }
        else if (!(color == 'green') && id.includes('green')) {
            var red_btn = document.getElementById('red-' + only_id);
            var neutral_btn = document.getElementById('neutral-' + only_id);
            var uncertain_btn = document.getElementById('uncertain-' + only_id);
            current_btn.classList.toggle('green');
            red_btn.classList.remove('red');
            neutral_btn.classList.remove('neutral');
            uncertain_btn.classList.remove('uncertain');
            rating_dict[only_id]['rating'] = 1;
            if (duplicate !== 'False') {
                rating_dict[duplicate]['rating'] = 1;
            }

        }
        else if ((color == 'red') && id.includes('red')) {
            current_btn.classList.remove('red');
            rating_dict[only_id]['rating'] = null;
            if (duplicate !== 'False') {
                rating_dict[duplicate]['rating'] = null;
            }
        }
        else if (!(color == 'red') && id.includes('red')) {
            var green_btn = document.getElementById('green-' + only_id);
            var neutral_btn = document.getElementById('neutral-' + only_id);
            var uncertain_btn = document.getElementById('uncertain-' + only_id);
            current_btn.classList.toggle('red');
            green_btn.classList.remove('green');
            neutral_btn.classList.remove('neutral');
            uncertain_btn.classList.remove('uncertain');
            rating_dict[only_id]['rating'] = -1;
            if (duplicate !== 'False') {
                rating_dict[duplicate]['rating'] = -1;
            }
        }

        else if ((color == 'neutral') && id.includes('neutral')) {
            current_btn.classList.remove('neutral');
            rating_dict[only_id]['rating'] = null;
            if (duplicate !== 'False') {
                rating_dict[duplicate]['rating'] = null;
            }
        }

        else if (!(color == 'neutral') && id.includes('neutral')) {
            var green_btn = document.getElementById('green-' + only_id);
            var red_btn = document.getElementById('red-' + only_id);
            var uncertain_btn = document.getElementById('uncertain-' + only_id);
            current_btn.classList.toggle('neutral');
            red_btn.classList.remove('red');
            green_btn.classList.remove('green');
            uncertain_btn.classList.remove('uncertain');
            rating_dict[only_id]['rating'] = 0;
            if (duplicate !== 'False') {
                rating_dict[duplicate]['rating'] = 0;
            }
        }

        else if ((color == 'uncertain') && id.includes('uncertain')) {
            current_btn.classList.remove('uncertain');
            rating_dict[only_id]['rating'] = null;
            if (duplicate !== 'False') {
                rating_dict[duplicate]['rating'] = null;
            }
        }

        else if (!(color == 'uncertain') && id.includes('uncertain')) {
            var green_btn = document.getElementById('green-' + only_id);
            var red_btn = document.getElementById('red-' + only_id);
            var neutral_btn = document.getElementById('neutral-' + only_id);
            current_btn.classList.toggle('uncertain');
            red_btn.classList.remove('red');
            green_btn.classList.remove('green');
            neutral_btn.classList.remove('neutral');
            rating_dict[only_id]['rating'] = null;
            if (duplicate !== 'False') {
                rating_dict[duplicate]['rating'] = null;
            }
        }

        return rating_dict
    }

    function send_data(keywords, content_id, uid) {
        timestamp = new Date().toISOString()
        rating_dict['keywords'] = keywords
        rating_dict['content_id'] = content_id
        rating_dict['timestamp'] = timestamp
        rating_dict['user_id'] = uid
        $.ajax({
            type: "POST",
            url: "{{ url_for('post_data') }}",
            contentType: "application/json",
            data: JSON.stringify([rating_dict]),
            dataType: "json",
            success: function (response) {
                console.log(response);
                window.location = 'http://127.0.0.1:5000/post_data'
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

</script>
{% endblock %}